body {
    font-family: 'roboto';
    margin: 0;
    background-image: url(irontemple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vh; */
    height: 100vh;
}

irontemple.png {
    min-height: 100%;
    min-width: 1024px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 128px;
}

.headername {
    font-size: 24px;
    color: #f9faf8;
    height: auto;
}

.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    padding: 16px 128px;
}

.login {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hook {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.button {
    background-color: #541212;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 8px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    max-width: 44px;
    transition: .2s;
    border-style: solid;
    border-width: thin;
    border-color: rgb(136, 136, 136);
}

.button:hover {
    transform: scale(1.2);
    box-shadow:
    inset 1px 0 1px rgb(136, 136, 136),
    inset -1px 0 1px rgb(136, 136, 136);
    box-shadow: 0px 0px 3px 3px rgb(136, 136, 136);
    border-color: transparent;
}

.ironlords {
    height: 400px;
    width: auto;
}

.Lettuce {
    background: #00000087;
    margin: 0 250px;
    border-radius: 12px;
    border-style: solid;
    border-color: #912e09
}

.InfoHeader {
    font-size: 36px;
    font-weight: 800;
    color: white;
    padding: 32px;
    display: flex;
    justify-content: center;
}

.examples {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
}

.info {
    max-width: 303.375px;
    text-align: center;
    color: white;
}

.fancy {
    transition: .2s;
    height: 170.656px;
    width: auto;
    border-style: solid;
    border-width: thin;
}

.fancy:hover {
    transform: scale(1.5);
    box-shadow:
    inset 1px 0 1px rgb(136, 136, 136),
    inset -1px 0 1px rgb(136, 136, 136);
    box-shadow: 0px 0px 3px 3px rgb(136, 136, 136);
    border-style: none;
}

.Cheese {
    background-color: #00000087;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    margin: 10px 250px;
    border-radius: 12px;
    border-style: solid;
    border-color: #938585;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #c5620d;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
}

.speaker {
    font-weight: 900;
    text-align: right;
    text-shadow: none;
    color: #c5620d;
    font-size: 18px;
}

.Burger {
    background-color: #00000087;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    margin: 10px 250px;
    border-radius: 12px;
    border-style: solid;
    border-color: #2e4137;
}

.call {
    color: white;
    padding: 16px;
    font-weight: bold;
    font-size: 26px;
}

.BottomBun {
    height: 72px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #00000087;
}