body {
    font-family: 'roboto';
    margin: 0;
}

.TopBun {
    background-color: #2e4137;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 128px;
}

.headername {
    font-size: 24px;
    color: #f9faf8;
    height: auto;
}

.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;

}

.container {
    display: flex;
    justify-content: center;
    padding: 16px 128px;
}

.login {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hook {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.button {
    background-color: #541212;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 8px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
    max-width: 40px;
}

.ironlords {
    height: 400px;
    width: auto;
}

.Lettuce {
    background: #433520;
}

.InfoHeader {
    font-size: 36px;
    font-weight: 800;
    color: white;
    padding: 32px;
    display: flex;
    justify-content: center;
}

.examples {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
}

.info {
    max-width: 303.375px;
    text-align: center;
    color: white;
}

.fancy {
    transition: .2s;
    height: 170.656px;
    width: auto;
}

.info {
    transition: .2s;
}

.fancy:hover {
    transform: scale(1.5);
}

.quotebox {
    background-color: #7e8f96;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.speaker {
    font-weight: 900;
}